<form [formGroup] = "createTodo" (ngSubmit)="submitHandler()">
  <label for="title">Title: </label>
  <input id="title" type="text" formControlName="title" required>
  <br>
  <label for="desc">Description: </label>
  <input id="desc" type="text" formControlName="desc" autocomplete="off">
  <br>
  <button type="submit">Submit</button>
</form>
<div *ngIf="(createTodo.status === 'INVALID' && !createTodo.pristine) || submitError">
  Please Enter valid inputs.
  <p *ngIf="title.errors?.required"> Title is required </p>
  <p *ngIf="title.errors?.minlength"> Title needs to be at least 3 char. </p>
</div>
