<form [formGroup]="createTodo" (ngSubmit)="submitHandler()" class="create-todo-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label for="title">Title</mat-label>
    <input id="title" type="text" matInput [formControl]="title" placeholder="New Todo" required/>
    <mat-error *ngIf="title.errors?.required">
      Title is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="title.errors?.minlength">
      Title needs to be <strong>at least 3 char</strong>
    </mat-error>
  </mat-form-field>
  <br />
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label for="desc">Description</mat-label>
    <textarea id="desc" matInput matInput formControlName="desc" placeholder="New Todo Desc"></textarea>
  </mat-form-field>
  <br />
  <button mat-raised-button type="submit" color="primary" class="submit-todo">Submit</button>
</form>
